body {
background-color:rgb(101, 162, 180);
font-family: Arial;
color: white;
}
h1{color:rgb(238, 227, 227);
font-family: Verdana;}

.maindiv{
background-color: rgb(92, 86, 86);
color:black;
width: 500px;
padding: 50px;
padding-left: 100px;
border-radius: 25px;
margin: 0 auto;
}

